---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Ahmad Saladin
  </div>
  <div class="inline opacity-75">
    Remote AI/ML Engineer for production AI systems.
  </div>
</footer>
<style></style>
